allure-pytest
allure-python-commons
attrs
certifi
chardet
idna
importlib-metadata
more-itertools
packaging
pluggy
py
pyparsing
pytest
requests
selenium
six
urllib3
wcwidth
zipp
webdriver_manager
lxml
pytest-xdist
pytest-cov
progress
locust
websocket-client